
/*
    'skew-pulse-boxes' loader
*/

.skew-pulse-boxes{
    display: -webkit-flex;
    display: flex;
    width: 60%;
}

.pulse-box{
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    height: 2em;
    margin-right: 0.4em;
    border: solid 2px black;
    border-radius: 3px;
    background-color: gray;
    opacity: 0.5;
    -webkit-animation: 2.15s ease infinite skew-pulse;
    -o-animation: 2.15s ease infinite skew-pulse;
    animation: 2.15s ease infinite skew-pulse;
}

.pulse-box:last-of-type{
    margin-right: 0;
}

@-webkit-keyframes skew-pulse{
    0%{
        transform: skew(45deg);
    }
    25%{
        transform: skew(0deg) scale(0.75);
    }
    50%{
        transform: skew(-45deg);
    }
    75%{
        transform: skew(0deg) scale(0.75);
    }
    100%{
        transform: skew(45deg);
    }
}

@-o-keyframes skew-pulse{
    0%{
        transform: skew(45deg);
    }
    25%{
        transform: skew(0deg) scale(0.75);
    }
    50%{
        transform: skew(-45deg);
    }
    75%{
        transform: skew(0deg) scale(0.75);
    }
    100%{
        transform: skew(45deg);
    }
}

@-moz-keyframes skew-pulse{
    0%{
        transform: skew(45deg);
    }
    25%{
        transform: skew(0deg) scale(0.75);
    }
    50%{
        transform: skew(-45deg);
    }
    75%{
        transform: skew(0deg) scale(0.75);
    }
    100%{
        transform: skew(45deg);
    }
}

@keyframes skew-pulse{
    0%{
        transform: skew(45deg);
    }
    25%{
        transform: skew(0deg) scale(0.75);
    }
    50%{
        transform: skew(-45deg);
    }
    75%{
        transform: skew(0deg) scale(0.75);
    }
    100%{
        transform: skew(45deg);
    }
}

/*
    'stretched-balls' loader
*/

.stretched-balls{
    display: flex;
    display: -webkit-flex;
    padding: 0 27% 0 27%;
}

.ball{
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px black;
    background-color: gray;
    opacity: 0.5;
    margin-right: 1.35em;
    -webkit-animation: 1.6s ease 500ms infinite stretched-balls;
    -o-animation: 1.6s ease 500ms infinite stretched-balls;
    animation: 1.6s ease 500ms infinite stretched-balls;
}

.ball:last-of-type{
    margin-right: 0;
}

@-webkit-keyframes stretched-balls{
    0%{
        transform: scaleX(1);
    }
    33%{
        transform: scaleX(1.7);
    }
    66%{
        transform: scaleY(1.7);
    }
    100%{
        transform: scaleY(1);
    }
}

@-o-keyframes stretched-balls{
    0%{
        transform: scaleX(1);
    }
    33%{
        transform: scaleX(1.7);
    }
    66%{
        transform: scaleY(1.7);
    }
    100%{
        transform: scaleY(1);
    }
}

@-moz-keyframes stretched-balls{
    0%{
        transform: scaleX(1);
    }
    33%{
        transform: scaleX(1.7);
    }
    66%{
        transform: scaleY(1.7);
    }
    100%{
        transform: scaleY(1);
    }
}

@keyframes stretched-balls{
    0%{
        transform: scaleX(1);
    }
    33%{
        transform: scaleX(1.7);
    }
    66%{
        transform: scaleY(1.7);
    }
    100%{
        transform: scaleY(1);
    }
}
