body{
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    background-color: ghostwhite;
}

h1.header{
    color: #FF4136;
    font-size: 2.5em;
}

/*
    Page grid layout
*/

.loaders-grid-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: minmax(320px, auto);
    grid-gap: 1rem;
    margin-top: 3em;
    padding-bottom: 1em;
}

.loader-grid-box{
    height:320px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 6px;
    background-color: #FFFAFA;
    padding: 0.3em;
}

.animation-box{
    -webkit-flex: 2.5;
    -moz-flex: 2.5;
    -ms-flex: 2.5;
    -o-flex: 2.5;
    flex: 2.5;
    padding: 0.4em;
    border: solid 1px black;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
}

.loader{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.view-code-button{
    display: inline-flex;
    justify-content: center;
    -webkit-flex: 0.5;
    -moz-flex: 0.5;
    -ms-flex: 0.5;
    -o-flex: 0.5;
    flex: 0.5;
    background-color: #4682B4;
    border: solid 1px black;
    border-radius: 0 0 6px 6px;
    margin-top: 1px;
}

.view-code-button:hover{
    border-width: 2px;
    cursor: pointer;
}

.view-code-button:hover > span{
    color: white;
    transition: 0.5s;
    text-shadow: 2px 2px 1px silver;
}

.view-code-button span{
    font-family: "Book Antiqua";
    font-size: 1.7em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #FFDC00;
    text-shadow: 1px 1px 1px #FFDC00;
}