body{
    width: 90%;
    height: 30em;
    margin: 0 auto;
    padding: 1em;
    background-color: bisque;
    margin-top: 1em;
}

h1.header{
    color: brown;
    font-size: 2.5em;
}

/*
    Page grid layout
*/

.loaders-grid-container{
    display: grid;
    display: -webkit-grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
    grid-template-rows: minmax(320px, auto);
    grid-gap: 1rem;
    padding-bottom: 2em;
    margin-top: 3em;
}

.loader-grid-box{
    height:320px;
    border: solid 1px black;
    border-width: 3px;
    border-radius: 6px;
    background-color: inherit;
    opacity: 0.4;
    box-shadow: 4px 4px 18px red, -4px -4px 18px yellow;
}

